.Modal {
    display: flex;

}

.menu-trigger{
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

.menu-trigger img{
    height: 25px;
    width: 25px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    margin-right: 20px;
}

.menu-trigger img:nth-last-child(1) {
    border-radius: 50%;
}


.dropdown-menu{
    right: 20px;
    background-color: #fff;
    width: 200px;
    height: 60px;
}

.dropdown-menu::before{
    content: '';
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
}

.dropdown-menu.active{
    margin-left: 60px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    /*border: #d0d0d0 solid 1px;*/
    border-radius: 5px;
    box-shadow: 1px 1px 5px #bcbcbc;
    margin-top: 15px;
    /*width: 250px;*/
    /*height: 240px;*/
    width: 230px;
    height: 198px;
    padding: 3px;

}

.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
}



.dropdown-menu li{
    /*padding: 10px  0;*/
    padding: 9px 0;
}

.dropdown-menu  li:hover a{
    color: rgb(212, 33, 9);
    cursor: pointer;
}

.dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;
}

.dropdownItem{
    /*padding: 10px;*/
    /*margin-left: 10px;*/
    margin-left: 10px;
}

.dropdownItem img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    opacity: 0.5;
}

.dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 18px;
    color: rgb(38, 38, 38);
}

.Log{
    border-top: #dbdbdb solid 1px;
    padding: 10px;
    font-size: 14px;

}
.DropdownItem-css{
    width: 230px;
    height: 198px;
    list-style: none;
}

