.menu-trigger{
    width: 300px;
    display: flex;

}

a {
    text-decoration: none;
}

.menu-trigger img{
    height: 25px;
    width: 25px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    margin-right: 10px;

}

.menu-trigger img:nth-last-child(1) {
    border-radius: 50%;
}


.dropdown-menu{
    right: 20px;
    background-color: #fff;
    width: 200px;
    height: 60px;
}

.dropdown-menu::before{
    content: '';
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
}

.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    border: #d0d0d0 solid 1px;
    margin-top: 5px;
    width: 250px;
    height: 240px;
    padding: 10px;

}

.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
}



.dropdown-menu li{
    padding: 10px  0;
}

.dropdown-menu  li:hover a{
    color: rgb(212, 33, 9);
    cursor: pointer;
}

.dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;
}

.dropdownItem{
    padding: 10px;
    margin-left: 10px;
}

.dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
}

.dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
}

.Log{
    border-top: #dbdbdb solid 1px;
    padding: 10px;

}
.DropdownItem-css{
    list-style: none;
}
