.Searchbar {
    margin-top: 15px;
    width: 300px;

}
.searchGlass{
    width: 35px;
    height: 35px;
}

/*.input {*/
/*    background-repeat: no-repeat;*/
/*    border: 1px solid #ccc;*/
/*    padding: 5px 5px;*/
/*    width: 125px;*/
/*}*/

input::-webkit-input-placeholder{
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png) ;
    background-size: contain;
    background-position:  1px center;
    background-repeat: no-repeat;
    text-align: center;
    text-indent: 0;
}

#Searchbar-css{
    border: none;
    background-color: #efefef;
    width: 268px;
    height: 36px;
    display: flex;
    border-radius: 5px;
    padding: 0 16px;
    font-size: 15px;

}

@media (max-width: 1000px) {
    .Searchbar {
        visibility: hidden;
    }
}


.SearchBack {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 5px;
}
.Searchbar-line {
}

.search-info{
    display: flex;
    flex-direction: row;
    border-bottom: #dbdbdb solid 1px;
}

.img {
    width: 30px;
}


.user-profile-imgs {
    padding: 3px;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    background-image: linear-gradient(45deg, yellow, red, purple);
}

.user-profile-img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid white;
}

.user-id {
    display: flex;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}