.Searchbar {
    margin-top: 13px;
    width: 300px;

}
.searchGlass{
    width: 35px;
    height: 35px;
}

/*.input {*/
/*    background-repeat: no-repeat;*/
/*    border: 1px solid #ccc;*/
/*    padding: 5px 5px;*/
/*    width: 125px;*/
/*}*/


/*input::-webkit-input-placeholder{*/
/*    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png) ;*/
/*    background-size: contain;*/
/*    background-position:  1px center;*/
/*    background-repeat: no-repeat;*/
/*    text-align: center;*/
/*    text-indent: 0;*/
/*    padding-right: 150px;*/
/*}*/
/* 밑에 댓글 컴포넌트까지 영향을 줘서 주석 처리 했습니다.*/

#Searchbar-css{
    border: none;
    background-color: #efefef;
    width: 268px;
    height: 36px;
    display: flex;
    border-radius: 5px;
    padding: 0 16px;
    font-size: 15px;

}

@media (max-width: 1000px) {
    .Searchbar {
        visibility: hidden;
    }
}

.SearchBacks {
    display: flex;
    align-items: stretch;
    border: 0;
    border-radius: 6px;
    background-color: white;
    flex-direction: column;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    vertical-align: baseline;
    width: 375px;
    margin-top: 11px;
    box-shadow: 1px 1px 5px #bcbcbc;
}

.SearchBack {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 375px;
    /*padding-top: 12px;*/
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
    cursor: pointer;

}


.search-info{
    display: flex;
    flex-direction: row;
    /*border-bottom: #dbdbdb solid 1px;*/
    height: 60px;
}

.img {
    width: 30px;
}

.user-profile-img1 {
    padding: 2px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-image: linear-gradient(45deg, yellow, red, purple);
    margin-top: 7px;
    margin-left: 7px;
}

.user-profile-img2 {
    padding: 2px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-top: 7px;
    margin-left: 7px;
}

.user-profile-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid white;
}

.search-user-id {
    display: flex;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #262626;

}
