.instagram {
    background-color: #FAFAFA;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    width: 100%;
}

.main {
    position: relative;
    top: 30px;
}

.myPage {
    position: relative;
    top: 45px;
}