.navbar__barContent {
    width: 100%;
    height:60px;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
}
.logo-container{
width: 300px;
    margin-left: 200px;
}
.navbar_logo{
    margin-top: 10px;
    width: 100px;
}
.img-control {
    margin-top: 10px;
}
.Search-container {
    width: 500px;
    margin-left: 120px;
}

.image-11{
    display: flex;
}

.modal-container{
    margin-top: 20px;
    width: 30%;
}