/* 화면 전체를 채움*/
.AuthTemplateBlock {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fafafa;

  /* flex로 내부 내용 중앙 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 흰색 박스 */
.WhiteBox {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.025);
  padding: 2rem;
  width: 330px;
  background: white;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
}
.logo-area {
  display: block;
  padding-bottom: 2rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}
